<!DOCTYPE html>
<html>
 <head>
    <title>Bar Transition Example</title>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="data.json"></script>
    <script type="text/javascript" src="bar.js"></script>
     <link rel="stylesheet" type="text/css" href="barchart.css">
 </head>
 <body>

    <div id="demo">
        <div id="buttons">
            <button id="data1">Set Data to data 1</button>
            <button id="data2">Set Data to data 2</button>
            <br>
            <button id="random">Make Random Data</button>
            <input id="num" value=10></input>
        </div>
        <svg id="svg"></svg>
    </div>
 </body>
</html>
