<!DOCTYPE html>
<html>
<head>
<title>Water foodprint per dish/ingredient</title>
<meta name='viewport'
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
<link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
<link rel="stylesheet" href="./static/lib/css/dc.css">
<link rel="stylesheet" href="./static/css/custom.css">
<link rel="stylesheet" href="./static/css/map.css">
<link rel="stylesheet" href="./static/css/barchart.css">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
<!-- <script src="./static/lib/js/jquery.min.js"></script> -->
<script src="./static/lib/js/bootstrap.min.js"></script>
<!-- <script src="./static/lib/js/crossfilter.js"></script> -->
<!-- <script src="./static/lib/js/d3.js"></script> -->
<!-- <script src="./static/lib/js/dc.js"></script> -->
<!-- <script src="./static/lib/js/queue.js"></script>  --> 
<script src="./static/lib/js/keen.min.js"></script>
<!-- <script src='./static/js/graphs.js' type='text/javascript'></script> -->
<script src='./static/js/bar.js' type='text/javascript'></script>
<script src='./static/js/dashboard.js' type='text/javascript'></script>
<script src='./static/js/map.js' type='text/javascript'></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>

</head>

<body class="application">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="./">Water footprint by Recipe and Ingredient</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="http://ecs.soton.ac.uk/">Home</a></li>
                    <li><a href="http://ecs.soton.ac.uk/">Team</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control recipe-search" placeholder="Search for recipes...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" disabled>Go!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
	<div class="container-fluid">
		<div class="row">

			<div class="col-sm-4">
				<div class="chart-wrapper">
					<div class="chart-title">Recipies</div>
					<div class="chart-stage">
						<table id="recipe_table" class="display"></table>
					</div>
					<div class="chart-notes">You can choose a dish and find out
						how much water footprint his ingredients cause.</div>
				</div>
			</div>

			<div class="col-sm-3 total-ingredients">
				<div class="chart-wrapper">
					<div class="chart-title">Ingredients / products</div>
					<div class="chart-stage">
						<table id="ingredient_table" class="display"></table>
					</div>
					<div class="chart-notes">You can choose an ingredient or product to view its corresponding water foodprint.</div>
				</div>
			</div>

			<div class="col-sm-3 ingredients-by-recipe">
				<div class="chart-wrapper">
					<div class="chart-title">Ingredients / products</div>
					<div class="chart-stage">
						<table id="ingredient_table_by_recipe" class="display"></table>
					</div>
					<div class="chart-notes">You can choose an ingredient or product to view its corresponding water foodprint.</div>
				</div>
			</div>
			
			<div class="col-sm-3">
	            <div class="chart-wrapper">
	              <div class="chart-title">Water footprint</div>
	              <div class="chart-stage">
	                <svg id="wfp_barchart_svg"></svg>
	              </div>
	            </div>
          	</div>
		</div>
		<div class="row map">
			<div class="col-sm-12">
				<p id="wf-country-label"></p>
				<div id="tooltip-container"></div>
				<div id="canvas-svg"></div>
			</div>
		</div>
	</div>
</body>
</html>
